<!DOCTYPE html>
<html>

<head>
  <title>Coming Soon</title>
  <style>
    body {
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 100px;
    }

    h1 {
      font-size: 36px;
      color: #333333;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: #666666;
      margin-bottom: 30px;
    }

    .logo {
      max-width: 200px;
      margin-bottom: 30px;
    }
  </style>
</head>

<body>
  <img class="logo" src="https://staging.youCanFly.ai/img/youCanFly%20FR.2455d19c.jpg" alt="Logo">

  <h1>Production Down Time Alart</h1>
  <p>Production Line L1 has down</p>
</body>

</html>